@tailwind base;
@tailwind components;
@tailwind utilities;

.transition_slide_in {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: black;
    transform-origin: top;
    z-index: 1000;
}

.transition_slide_out {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: black;
    transform-origin: bottom;
    z-index: 1000;
}